* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

:root{
    --roxo: #8FA8FF;
    --branco: #FFF;
    --preto-fonte: #000;
    --roxo-fonte: #BDCAF9;
}

body{
    background: --branco;
}