* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

:root{
    --roxo: #8FA8FF;
    --branco: #FFF;
    --preto-fonte: #000;
    --roxo-fonte: #BDCAF9;
}

body{
    background: --branco;
}

/* menu */

.menu {
    align-items: center;
    background: var(--roxo);
    display: flex;
    height: 50px;
    justify-content: space-between;
}

a > .logo{
    width: 76px;
    padding: 12px 22px;
}

.cabecalho{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

/* menu hamburguer */

.menu__lista{
    align-items: center;
    background: var(--roxo);
    color: var(--branco);
    height: 210px;
    justify-content: space-evenly;
    padding: 1rem;
    position: absolute;
    right: 0;
    text-decoration: underline;
    top: 50px;
    width: 172px;
}

.menu__lista-active{
    display: flex;
    flex-direction: column;
}

.menu__lista-disable{
    display: none;
}

.menu__lista-item{
    font-size: 14px;
}

.botao-menu{
    background: transparent;
    border: none;
    margin: 0 1rem;
}

/* input cabecalho */

.cabecalho__input{
    border: none;
    font-size: 14px;
    padding: 5px;
    outline: none;
    width: 100%;
}

.search-bar{
    align-self: center;
    border: 2px solid var(--roxo);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 9px 14px;
    width: 80%;
}

.cabecalho__input::placeholder{
    color: #9F9999;
}